@import "../../../../sassCommon/variables";

.link {
  color: #0052B4;
}

.text {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: normal;
  color: #0052B4;
}

.text.footerLink {
  font-size: 16px;
  color: $textColor;
}

.link:hover {
  .text {
    color: #0052B4;
    text-decoration: underline;
  }
  .text.footerLink {
      text-decoration: none;
  }
}