@mixin container($w, $p) {
  max-width: $w;
  margin: 0 auto;
  padding: 0 $p;
}
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin absolut {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
@mixin background {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
@mixin fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 99;
}