$primaryColor: #F4E041;
$secondaryColor: #00BDD3;
$tertiaryColor: #EA5924;
$backgroundColor: #F8F8F8;
$enabledBorder: #D0CFCF;
$labelColor: #7E7E7E;
$errorColor: #CB3D40;
$textColor: rgba(0, 0, 0, 0.87);