.section {
  width: 100%;
  padding-top: 88px;
}

.container {
  max-width: 1392px;
  padding: 0 36px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 60px;
    line-height: 64px;

    margin-bottom: 23px;
  }

  h3 {
    font-size: 28px;
    line-height: 40px;

    margin-bottom: 45px;
  }
}

.formWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.disabledModalWrapper {
  position: absolute;
  width: 100%;
  top: -32px;
  bottom: -32px;
  z-index: 18;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.85);

  h3 {
    width: 360px;
    font-size: 28px;
    line-height: 40px;

    margin-bottom: 49px;
  }
}

.form {
  width: 360px;
}

.btnWrapper {
  width: 360px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;

  margin-bottom: 30px;
}

.submitWrapper {
  margin-top: 77px;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 24px;

    h1 {
      font-size: 38px;
      line-height: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 50px;
  }

  .container {
    padding: 0 16px;

    h1 {
      font-size: 28px;

      margin-bottom: 18px;
    }

    h3 {
      font-size: 18px;
      line-height: 26px;

      margin-bottom: 31px;
    }
  }

  .form {
    width: 328px;
  }

  .btnWrapper {
    width: 328px;
    margin-bottom: 38px;
  }

  .submitWrapper {
    margin: 49px 0 24px;
  }

  .disabledModalWrapper {
    top: -23px;
    bottom: 0;

    justify-content: flex-start;

    h3 {
      width: 100%;
      padding: 0 16px;
      font-size: 18px;
      line-height: 26px;

      margin: 55px 0 40px;
    }
  }
}